<div class="head">
  <div class="blogname"><%= themeConfig.siteName %></div>
  <nav>
    <% menus.forEach(menu => { %>
      <% if (menu.openType === 'External') { %>
        <div class="item"><a target="_blank" href="<%= menu.link %>">
          <%= menu.name %>
        </a></div>
      <% } else { %>
        <div class="item"><a href="<%= menu.link %>">
          <%= menu.name %>
        </a></div>
      <% } %>
    <% }); %>
  </nav>
  <hr>
</div>