<% if (style === "card") { %>
<% for (let i in posts) { %>
<% if (i === "0") { %>

<div class="article huge">
  <% if (posts[i].feature) { %>
  <div class="featureimg" style="background-image: url('<%= posts[i].feature %>')"></div>
  <% } else { %>
  <div class="featureimg" style="background-image: url('media/images/defaultfeaimg.jpg')"></div>
  <% } %>
  <div class="row content">
    <div class="post">
      <div class="headline"><a href="<%= posts[i].link %>">
          <%= posts[i].title %>
        </a></div>
      <div class="subtitle">subtitles here</div>
      <div class="meta"><span class="time"><%= posts[i].dateFormat %></span></div>
      <div class="body">
        <%- posts[i].abstract %>
      </div>
      <div class="extra">
        <a href="<%= posts[i].link %>" class="continue">
          继续阅读
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<% } %>
<% } %>