<html>
<head>
  <%- include('./includes/head', { pageTitle: `存档 - ${themeConfig.siteName}` }) %>
  <%- include('./includes/meta', {
    url: `${themeConfig.domain}/archives`,
    title: "存档",
    description: `${themeConfig.siteName} 的历史文章，尽收眼底。`,
    cover: "nocover"
  }) %>
</head>
<body>
  <div class="container fluid">
    <%- include('./includes/header') %>

    <div class="archives">
      <div class="archives-title">Archives</div>
      <% 
        let years = []
        posts.forEach((item) => {
          const year = item.date.substring(0, 4)
          if (!years.includes(year)) {
            years.push(year)
          }
        })
      %>
      <% years.forEach(function(year) { %>
        <div class="year-session">
          <div class="year-title"><%= year %></div>
          <% posts.forEach(function(post) { %>
            <%if (post.date.indexOf(year) !== -1) { %>
              <article>
                <a href="<%= post.link %>">
                  <div class="title"><%= post.title %></div>
                  <div class="description"><%- post.abstract %></div>
                  <div class="date"><%= post.date %></div>
                </a>
              </article>
            <% } %>
          <% }) %>
        </div>
      <% }) %>
    </div>

    <%- include('./includes/pagination') %>

    <%- include('./includes/footer') %>
  </div>
</body>
</html>
