<!doctype html>
<html lang="zh-cn">

<head>
  <%- include('./includes/head', { pageTitle: themeConfig.siteName }) %>
  <%- include('./includes/meta', {
    url: themeConfig.domain,
    title: themeConfig.siteName,
    description: themeConfig.siteDescription ? themeConfig.siteDescription : '',
    cover: "nocover"
  }) %>
</head>

<body>
  <div class="container is-fluid">
    <%- include('./includes/header') %>

    <%- include('./includes/post-list', { style: "card" }) %>

    <%- include('./includes/pagination') %>

    <%- include('./includes/footer') %>
  </div>
</body>

</html>