<!doctype html>
<html lang="zh-cn">
  <head>
    <%- include('./includes/head', { pageTitle: themeConfig.siteName }) %>
    <%- include('./includes/meta', { url: themeConfig.domain }) %>
  </head>
  <body>
    <div class="container">
      <%- include('./includes/header') %>

      <%- include('./includes/post-list') %>

      <%- include('./includes/pagination') %>

      <%- include('./includes/footer') %>
    </div>
  </body>
</html>
