<!doctype html>
<html lang="zh-cn">

<head>
  <%- include('./includes/head', { pageTitle: themeConfig.siteName }) %>
  <%- include('./includes/meta', { url: themeConfig.domain }) %>
</head>

<body>
  <div class="container">
    <%- include('./includes/header') %>

    <div class="article huge">
      <% if (post.feature) { %>
        <div class="featureimg" style="background-image: url('<%= post.feature %>')"></div>
      <% } else { %>
        <div class="featureimg" style="background-image: url('/media/images/defaultfeaimg.jpg')"></div>
      <% } %>
      <div class="row content">
        <div class="post">
          <div class="headline"><a href="<%= post.link %>">
              <%= post.title %>
            </a></div>
          <div class="meta">
            <time><%= post.dateFormat %></time>
            <tags>
              <% for (let i in post.tags) { %>
                <tag>
                  <a href="<%= post.tags[i].link %>" class="tag-item">#<%= post.tags[i].name %></a>
                </tag>
              <% } %>
            </tags>
          </div>
          <div class="body">
            <%- post.content %>
          </div>
        </div>
      </div>
    </div>

    <%- include('./includes/footer') %>
  </div>
</body>

</html>