<!doctype html>
<html lang="zh-cn">
<head>
  <%- include('./includes/head', { pageTitle: `标签 - ${themeConfig.siteName}` }) %>
  <%- include('./includes/meta', {
    url: `${themeConfig.domain}/tags`,
    title: "标签",
    description: `收录于 ${themeConfig.siteName} 过往文章中的所有话题标签。`,
    cover: "nocover"
  }) %>
</head>
<body>
  <div class="container">
    <%- include('./includes/header') %>

    <div id="tags">
      <% let tagMeta = JSON.parse(site.customConfig.tagmeta ? site.customConfig.tagmeta : '{}') %>
      <div class="tag-container">
        <% tags.forEach((tag) => { %>
          <a href="<%= tag.link %>" class="tag-item">
            <div class="tag-name">#<%= tag.name %></div>
            <% if (tagMeta[tag.name]) { %>
              <div class="tag-description"><%= tagMeta[tag.name] ? tagMeta[tag.name].description : "" %></div>
            <% } %>
            <div class="tag-count"><%= tag.count %> 篇文章</div>
          </a>
        <% }); %>
      </div>
    </div>

    <%- include('./includes/footer') %>
  </div>
</body>
</html>